<h1>Livros Disponívieis:</h1>
<div class="books-container">
    {{#each books}}
    <div>
        #{{this.id}} - <span class="bold"><a href="/books/{{this.id}}">{{this.title}}</a></span> - {{this.pageqty}} páginas
    </div>
    {{/each}}
</div>
<p>Para cadastrar novos livros <a href="/">clique aqui</a></p>